// pages/my/index.scss

@import "../../styles/variables.scss";

.userinfo-section {
  text-align: center;

  .userinfo-avatar {
    width: 64 * $size;
    height: 64 * $size;
    margin: 10 * $size;
    border-radius: 50%;
  }

  .userinfo-nickname {
    color: $dark-color;
  }
}